@import url('https://fonts.cdnfonts.com/css/angelica-rytes');


body {
  margin: 0;
  padding: 0;
  background-color: #4d1f01;
}

:root {
  --tamanho-header: 80px;
  --tamanho-banner: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-simulador: calc(100vh - var(--tamanho-header) - var(--tamanho-footer) - 2px);
  --tamanho-login: 87vh;
  --tamanho-footer: 80px;
}

.container {
  display: flex;
  width: 80%;
}

.header {
  height: var(--tamanho-header);
}

.header .container {
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.header a {
  text-decoration: none;
  color: #f1e0c6;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.agora {
  font-weight: 700;
}

.navbar {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #e3b062;
  gap: 30px;
}

.logo img {
  width: 100px;
  height: auto;
  margin-top: 30px;
  margin-left: 20px;
}

/* BANNER */
.banner {
  height: var(--tamanho-banner);
  color: white;
  background-image: url('../assets/imgs/Violao.png');
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: center;
  min-height: 90vh;
}

.banner .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  height: 100%;
  width: 100%;
  padding-right: 55px;
  margin-top: 80px;
}

.linha {
  width: 50vw;
  height: 2px;
  margin: 20px 0;
  background-color: white;
  align-self: flex-end;
}

.banner .container .texto {
  max-width: 500px;
  text-align: right;
  margin-right: 55px;
  font-size: 25px;
  color: #f1e0c6;

}

.banner .container p {
  margin: 0;
  padding: 0;
}

.banner .container .titulo {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-right: 55px;
  line-height: 0.6;
}

.banner .container .conexao {
  font-family: 'Angelica Rytes', sans-serif;
  font-size: 170px;
}

.banner .container .sertaneja {
  font-family: "Medula One", system-ui;
  font-size: 140px;
}

.banner .container .btn {
  align-self: end;
  margin-right: 110px;
  margin-top: 20px;
  padding: 12px 30px;
  background-color: #f1e0c6;
  color: #4d1f01;
  text-decoration: none;
  border-radius: 25px;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

/* LINHA DO TEMPO */
.timeline{
  position: relative;
  max-width: 1000px;
  margin: 100px auto;
}

.timeline .container{
  padding: 10px 50px;
  position: relative;
  width: 50%;
}


.timeline .text-box{
padding: 20px 30px;
background-color: #ffffff;
position: relative;
border-radius: 6px;
font-size: 15px;
}

.timeline .text-box h2{
  font-weight: 600;
  font-family: "Playfair Display SC", serif;
  font-size: 30px;
}

.timeline .text-box small{
  display: inline-block;
  margin-bottom: 15px;
}
.timeline .left-container{
  right: 10%;
}

.timeline .right-container{
  left: 50%;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background-color: #ffffff;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: -1;
}

.left-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left : 15px solid #ffffff;
  right: -15px;
}
.right-container-arrow{
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #ffffff;
  left: -15px;
}

/* ARTISTAS EM DESTAQUE */

.social {
  background-color: #4d1f01;
  display: flex;
  justify-content: center;
}

.social .container {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box img {
  width: 250px;
}

.social .container .boxes {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px 0;
  flex-wrap: wrap;
}

.social h4 {
  font-family: "Medula One", system-ui;
  font-size: 35px;
  color: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #a65927;
  border-radius: 25px;
  padding: 5px;
}

.artistas {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}

.artistas h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 50px;
  color: #ffd699;
  letter-spacing: 2px;
  text-align: center;
  margin: 0;
}

.social button {
  display: block;
  margin: 20px auto;
  padding: 12px 30px;
  background-color: #e6c08b;
  color: #4d1f01;
  border: none;
  border-radius: 25px;
  font-size: 20px;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}


/* MÚSICAS */
.lista {
  display: flex;
  flex-direction: column;
}

.musica {
  background-color: #eee;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding-right: 20px;
  gap: 10px
}

.musica img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid #4d1f01;
  object-fit: cover;
}

.musica span {
  background-color: #eee;
  font-weight: bold;
  margin: 0;
}


.linha-fim {
  justify-content: center;
  display: flex;
  margin: 20px 0;
}

.linha-meio {
  justify-content: space-around;
  display: flex;
  margin: 20px 0;
}

.linha-topo {
  justify-content: space-between;
  display: flex;
  margin: 20px 0;
}


.top-musicas {
  width: 80%;
  margin: 40px auto;
  padding: 20px;
  background-color: #a65927;
  border-radius: 30px;
}

.top-musicas h2 {
  font-family: "Playfair Display SC", serif;
  font-weight: 700;
  font-size: 40px;
  color: #ffd699;
  text-align: center;
}


/* FOOTER */

.footer {
  background-color: #a65927;
  height: var(--tamanho-footer);
  padding: 40px 0;
}

.footer ul {
  margin-top: 0;
  padding: 0;
  list-style: none; /* estilo da lista*/
  font-size: 18px;
  text-align: center;
  line-height: 1.6; /* altura da linha*/
  margin-bottom: 0;
}

.footer ul li{
  display: inline-block;
  padding: 0 15px;
}

.footer ul li a {
  text-decoration: none;
  color: #fff;
}

.footer .copyright{
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
}






/* LOGIN */

.login {
  height: var(--tamanho-login);
  background-image: url('../assets/imgs/Fundo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
   display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.container h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  font-size: 65px;
  font-family: "Medula One", system-ui;
  color: #f1e0c6;
}

.card{
  width: 440px;
  background-color: #a65927;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d1f01;
  flex-direction: column;
  z-index: 2;
}

.card-login{
 width: 440px;
  background-color: #a65927;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #4d1f01;
  flex-direction: column;
  z-index: 2;
}

.shape-cadastro {
  border: 3px solid white;
  width: 400px;
  height: 440px;
  position: absolute;
  border-radius: 15px;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-40%, -30%);
}
.shape-login {
  border: 3px solid white;
  width: 400px;
  height: 300px;
  position: absolute;
  border-radius: 15px;
  z-index: 0;
  top: 55%;
  left: 50%;
  transform: translate(-40%, -30%);
}

.imgSticke2{
  position: absolute;
  top: 50%;
right: -40px; 
  display: flex;
}

.formulario {
  display: flex;
  height: 90%;
  width: 70%;
  justify-content: space-around;
  flex-direction: column;
}

.formulario span {
  font-size: 20px;
  font-weight: 800;
}

.formulario input {
  border: 3px solid#4d1f01;
  text-align: center;
  margin: 0;
}
#div_mensagem{
  background-color: #fff;
}
.campo {
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 5px 0;
}

.container .imgSticker {
  position: absolute;
  top: 80%;
  left: 35%;
  display: flex;
}

.botao {
  cursor: pointer;
  align-self: center;
  margin-top: 20px;
  background: none;
  border: none;
}

.botao img {
  width: 80px;
  height: auto;
}


.loading-div {
  width: 50px;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

#div_erros_login {
  display: none
}

/* FORMULARIO */

.alerta_erro {
  display: flex;
  justify-content: center;

}

.card_erro {
  display: none;
  background-color: #fff;
  color: black;
  width: 700px;
  position: fixed;
  border-radius: 4px;
  border: #ED145B 3px solid;
  padding: 10px;
  margin-right: 10%;
  z-index: 9999;
}

.card_erro #mensagem_erro {
  font-weight: 500;
  font-size: 20px;
}

.formulario .tipo_campo {
  font-size: 20px;
  font-weight: 600 !important;
}

.formulario {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  border: 2px solid #32b9cd;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
}

.btn {
  font-family: "Barlow", sans-serif;
  border: 0;
  border-radius: 5px;
  font-weight: 600;
  font-size: 18px;
  padding: 10px 15px;
  color: white;
  background-color: #ED145B;
  width: 120px;
  align-self: center;
  margin-top: 5px;
}

.loading-div {
  width: 50px;
  margin: auto;
  display: none;
}

.loading-div img {
  height: 50px;
  width: 50px;
}

/* SIMULADOR */

.simulador {
  color: white;
}

.simulador .container {
  flex-direction: column;
  overflow: scroll;
  height: var(--tamanho-simulador);
}

/* ALERTA */

#alerta {
  position: absolute;
  right: 0;
  bottom: 0;
}

.mensagem-alarme {
  background-color: white;
  border-radius: 5px;
  width: 300px;
  height: 80px;
  margin: 10px;
  padding: 10px 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.mensagem-alarme h3 {
  font-size: 14px;
  margin: 0;
}

.mensagem-alarme .informacao {
  width: 66%;
}

.alarme-sino {
  width: 48px;
  height: 48px;
  animation-name: bell;
  animation-duration: 4s;
  background-image: url('https://cdn-icons-png.flaticon.com/512/1157/1157000.png');
  background-size: cover;
  animation-iteration-count: infinite;
}

@keyframes bell {
  0% {
    transform: rotate(25deg)
  }

  25% {
    transform: rotate(-25deg)
  }

  50% {
    transform: rotate(25deg)
  }

  75% {
    transform: rotate(-25deg)
  }

  100% {
    transform: rotate(25deg)
  }
}