@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;
}

.logo img {
    width: 100px;
    height: auto;
    margin-top: 30px;
    margin-left: 20px;
}

.dash-geral {
    margin-left: 20%;
    margin-top: 30px;
    margin-right: 20px;
    margin-bottom: 40px;
    background-color: #4d1f01;
    height: 100vh;
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
    /* 👈 efeito card */
}


.janela {
    display: flex;
    /* width: 100vw; */
}

.header-left a {
    text-decoration: none;
    color: white;
}

.header-left {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 20%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.header-left h1 {
    color: #32b9cd;
}

.hello {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  list-style: none;
  color: #e3b062;
  gap: 5px;
}

.hello h3 {
    color: #e3b062;
    font-weight: 300;
    font-size: 1.2rem;
}

.hello h3 span {
    font-weight: 800;
}

.hello img{
    width: 50px;
}

.btn-nav {
    width: 40%;
    color: white;
    background-color: #e6005a;
    border-radius: 5px;
    text-align: center;
    padding: 2% 5%;
}


.btn-nav-white a{
    color: #4d1f01;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.btn-nav-white img{
    width: 30px;
}

.btn-nav h3,
.btn-logout h3 {
    margin: 0;
    padding: 0;
}

.btn-logout {
    color: #4d1f01;
    text-align: center;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn-logout img {
    width: 30px;
}

.dash-geral .container-kpi{
    background-color: #a65927;
    width: 700px;
    height: 200px;
    border-radius: 20px;
}

.kpi-imagem{
    display: flex;
    justify-content: end;
    align-items: end;
}
.kpi-imagem img{
    width: 350px;
    height: auto;
}